<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>854657966792-cu14pjg2f285mh4qv7s3ltb1k78latdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854657966792-cu14pjg2f285mh4qv7s3ltb1k78latdn</string>
	<key>API_KEY</key>
	<string>AIzaSyCZUg6KgjQgAt7El6PoXdSAcFiOt9KU_wE</string>
	<key>GCM_SENDER_ID</key>
	<string>854657966792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KB.MyTraveNote</string>
	<key>PROJECT_ID</key>
	<string>mytravelnotes-54296</string>
	<key>STORAGE_BUCKET</key>
	<string>mytravelnotes-54296.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854657966792:ios:7877d2cbebbaa275</string>
	<key>DATABASE_URL</key>
	<string>https://mytravelnotes-54296.firebaseio.com</string>
</dict>
</plist>